@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  /* ↓ Now (almost) all elements display a sans-serif font */
  font-family: sans-serif;
}
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
a,
a:link,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
  outline: none;
}
